{% extends "layout.html" %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}Blog{% endblock %}
{% block body %}
  <div class=entry-wrapper>
    {% for page in this.pagination.items %}
      {% if page.path == "/blog" %}
        {% for post in page.pagination.items %}
        <div class=entry-overview>
          <div class=date>{{ post.pub_date }}</div>
          <div class=detail>
            <h1><a href="{{ post.path }}">{{ post.title }}</a></h1>
            {% if post.summary %}
              <div class=summary><p>{{ post.summary }}</p></div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>

{{ render_pagination(this.pagination) }}
{% endblock %}
